@media only screen and (max-width: 600px) and (min-width: 300px) {
      .container {
            height: auto;
            width: 90vw;
      }

      .userTypeContainer {
            margin-top: 10px;
            display: flex;
            align-items: center;
      }

      .btnCol {
            display: flex;
            justify-content: center;
            align-items: center;
      }

      /* Card Styles */
      .card {
            height: 200px;
            width: 140px;
            border: 1px solid var(--blue);
            border-radius: 5px;
            overflow: hidden;
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
      }

      .cardImage {
            width: 100%;
            height: auto;
            object-fit: contain;
            display: flex;
            justify-content: center;
            align-items: center;
      }

      .cardContent {
            padding: 20px;
            display: flex;
            justify-content: center;
            align-self: center;
            background-color: var(--blue);
      }

      .cardText {
            color: var(--white);
            text-decoration: none;
      }

}