.checkbuttonContainer form {
    display: flex;
    align-items: center;
    gap: 8px;
}

.radio {
    display: none;
}


.btnSpan {
    height: 55px;
    width: auto;
    border-radius: 5px;
    background-color: var(--buttonLightblue);
}

.btnSpanLabel {
    height: 50px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    color: whitesmoke;
    background-color: var(--buttonDarakblue);
    cursor: pointer;
}

.btnSpanLabelchecked {
    height: 50px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    color: var(--text-color);
    background-color: skyblue;
    cursor: pointer;
}

.btnSpanchecked {
    height: 55px;
    width: auto;
    border-radius: 5px;
    background-color: var(--buttonDarakblue);
}


@media only screen and (max-width: 400px) {

    .checkbuttonContainer form {
        display: flex;
        align-items: center;
        gap: 12px;
    }

    .radio {
        display: none;
    }


    .btnSpan {
        height: 50px;
        width: auto;
        border-radius: 5px;
        background-color: var(--buttonLightblue);
    }

    .btnSpanchecked {
        height: 50px;
        width: auto;
        border-radius: 5px;
        background-color: var(--buttonDarakblue);
    }


    .btnSpanLabel {
        height: 45px;
        width: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        font-size: 11px;
        color: whitesmoke;
        background-color: var(--buttonDarakblue);
        cursor: pointer;
    }

    .btnSpanLabelchecked {
        height: 45px;
        width: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        font-size: 11px;
        color: var(--text-color);
        background-color: skyblue;
        cursor: pointer;
    }
}