.container {
      height: auto;
      width: 100%;
      margin-top: var(--globalMargin);
      margin-bottom: var(--globalMargin);

}

.container label {
      color: var(--text-color);
      font-size: var(--formTextSize);
      margin-bottom: var(--globalMargin);
}

.surveyInput {
      width: 100%;
      border: 1px solid var(--border-color);
      background: none;

}