.dropdowncontainer {
      height: auto;
      width: 100%;
      margin-top: var(--globalMargin);
      margin-bottom: var(--globalMargin);

}

.dropdowncontainer select {
      width: 100%;
      border: 1px solid var(--border-color);
      border-radius: 5px;
      background: none;
      padding: 6px 5px;

}

.dropdowncontainer label {
      color: var(--text-color);
      font-size: var(--formTextSize);
      margin-bottom: var(--globalMargin);
}