@media only screen and (max-width: 400px) {
      .container {
            width: 100%;

      }

      .breadcrumb {
            padding: 10px;
            color: var(--lic-yellow);
            background-color: var(--lic-secondary-yellow);
      }

      .formcontainer {
            width: 100%;
            padding: 15px;
      }

      .btnContainer {
            display: flex;
            justify-content: center;
            align-items: center;
      }

      .submitbtn {
            width: 80%;
            height: auto;
            border-radius: 50px;
            background-color: var(--green);
            color: white;
            padding: 6px 14px;
            border: none;
            cursor: pointer;

      }

      .submitbtn:hover {
            background-color: #0056b3;
            /* Darker blue background color on hover */
      }
}