/* Adjustments for smaller screens */
@media only screen and (max-width: 400px) {

    .pageContainer {
        padding: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 10vh;
        gap: 20px;

    }

    .languageContainer h2,
    .roleContainer h2 {
        font-size: 20px;
        text-align: center;
        text-decoration: underline;
        color: var(--text-color-skyblue);
        margin: 0;
    }

    .roleContainer h2 {
        gap: 0;
    }

    .languageContainer,
    .roleContainer {
        margin: var(--globalMargin);
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

}

@media only screen and (max-width: 600px) and (min-width: 401px) {

    .pageContainer {
        padding: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 10vh;
        gap: 20px;
    }

    .languageContainer h2,
    .roleContainer h2 {
        font-size: 20px;
        text-align: center;
        text-decoration: underline;
        color: var(--text-color-skyblue);
        margin: 0;
    }

    .roleContainer h2 {
        gap: 0;
    }

    .languageContainer,
    .roleContainer {
        margin: var(--globalMargin);
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

}